@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  --blue: hsl(246, 80%, 60%);
  --light-red-work: hsl(15, 100%, 70%);

  --soft-blue-play: hsl(195, 74%, 62%);
  --light-red-study: hsl(348, 100%, 68%);
  --lime-green-exercise: hsl(145, 58%, 55%);
  --violet-social: hsl(264, 64%, 52%);
  --soft-orange-selfcare: hsl(43, 84%, 65%);

  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
}

/* Genaeral styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-dark-blue);
  color: var(--pale-blue);
  font-family: "Rubik", sans-serif;
}

.main-container {
  display: grid;
  place-items: center;
}

main {
  width: 80%;
  height: 70%;
  display: grid;
  grid-template-areas: "aside main" "footer footer";
  grid-template-columns: 15rem 1fr;
  grid-template-rows: 1fr 5rem;
  grid-gap: 2rem;
}

h1 {
  font-size: 2rem;
  color: #fff;
  font-weight: 100;
  padding-bottom: 2rem;
}
p {
  font-size: 1rem;
}

/* left side styling */
section.profile-card {
  grid-area: aside;
  display: flex;
}

.container {
  background: var(--dark-blue);
  border-radius: 15px;
}

.profile {
  background: var(--blue);
  border-radius: 15px;
  padding: 1.5rem;
}

.profile img {
  width: 5rem;
  border: 0.3rem solid #fff;
  border-radius: 50%;
  margin-bottom: 2.5rem;
}

.time-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}

.time-line p:not(:last-child) {
  padding-bottom: 1.2rem;
}

.time-line p:hover,
.time-line p.active {
  color: #fff;
  cursor: pointer;
}

/* main area styling */
section.time-track {
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.time-track .container {
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}

.icon {
  height: 20%;
  padding-right: 1rem;
}

.icon img {
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  opacity: 0.7;
  z-index: 1;
}

.activity {
  width: 100%;
  height: 100%;
  background: var(--dark-blue);
  color: #fff;
  padding: 1rem;
  border-radius: 15px;
  z-index: 10;
}

.activity div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

.activity img {
  width: 10%;
  height: 10%;
}

.activity:hover {
  background: var(--desaturated-blue);
  cursor: pointer;
}
.activity img:hover {
  cursor: pointer;
}

.time-track h2 {
  padding-top: 1.5rem;
  font-size: 2.5rem;
  font-weight: 100;
}

.time-track h3 {
  font-size: 1rem;
  font-weight: 400;
}

.time-track p {
  padding-top: 5%;
  font-size: 1rem;
  color: var(--pale-blue);
}

.work {
  background: var(--light-red-work);
}
.play {
  background: var(--soft-blue-play);
}
.study {
  background: var(--light-red-study);
}
.exercise {
  background: var(--lime-green-exercise);
}
.social {
  background: var(--violet-social);
}
.self-care {
  background: var(--soft-orange-selfcare);
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
}

.attribution {
  font-size: 12px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* mobile screen display */
@media only screen and (max-width: 600px) {
  main {
    height: 90%;
    grid-template-areas: "aside" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  section.time-track {
    flex-direction: column;
  }

  .time-track .container,
  .container {
    width: 100%;
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .time-line {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .activity {
    height: 100%;
  }

  .activity div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
